<!DOCTYPE html>
<html>
<head>
    <title> Shopify CSV downloader</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Shopify CSV Downloader</h1>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Download Orders CSV</h2>
                        <ul>
                            {% for shop in shops %}
                                <li>
                                    <a class="btn btn-success btn-sm" style="margin: 10px" href="{{ url('generate_csv_orders',{shop:shop.id}) }}">{{ shop.name }} orders</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>Download Checkouts CSV</h2>
                        <ul>
                            {% for shop in shops %}
                                <li>
                                    <a class="btn btn-success btn-sm" style="margin: 10px" href="{{ url('generate_csv_checkouts',{shop:shop.id}) }}">{{ shop.name }} checkouts</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <h2>Export to Google Sheet</h2>
                    <div class="col-md-6">
                        <a class="btn btn-success" href="{{ url('csv_export')}}">Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>